@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fddf08;
  --color-secondary: #0a0a0a;
  --color-primarywhit: #ffffff;
}

/* Custom button override */
.btn-primary {

}
.btn-primary:hover {
  @apply ;
}