@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #fddf08; /* brand yellow */
  --color-secondary: #0a0a0a; /* navbar black */
  --color-base-100: #ffffff; /* white base */
  --color-accent: #fef08a; /* soft light yellow accent */
}

body {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
p, span, a {
  font-family: 'Roboto', sans-serif;
}

